<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>UILaunchScreen</key>
    <dict>
      <key>UILaunchScreen</key>
      <dict/>
    </dict>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <true/>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>UISupportedInterfaceOrientations~iphone</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>ANTHROPIC_API_KEY</key>
    <string>$(ANTHROPIC_API_KEY)</string>
    <key>OPENAI_API_KEY</key>
    <string>$(OPENAI_API_KEY)</string>
    <key>ANTHROPIC_API_BASE_URL</key>
    <string>$(ANTHROPIC_API_BASE_URL)</string>
    <key>OPENAI_API_BASE_URL</key>
    <string>$(OPENAI_API_BASE_URL)</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
<!--    <key>CFBundleIcons</key>-->
<!--    <dict>-->
<!--      <key>CFBundlePrimaryIcon</key>-->
<!--      <dict>-->
<!--        <key>CFBundleIconFiles</key>-->
<!--        <array>-->
<!--          <string>AppIcon</string>-->
<!--        </array>-->
<!--        <key>UIPrerenderedIcon</key>-->
<!--        <false/>-->
<!--      </dict>-->
<!--      <key>CFBundleAlternateIcons</key>-->
<!--      <dict>-->
<!--        <key>AppIconClassic</key>-->
<!--        <dict>-->
<!--          <key>CFBundleIconFiles</key>-->
<!--          <array>-->
<!--            <string>AppIconClassic</string>-->
<!--          </array>-->
<!--          <key>UIPrerenderedIcon</key>-->
<!--          <false/>-->
<!--        </dict>-->
<!--      </dict>-->
<!--    </dict>-->
  </dict>
</plist>
